@import '../scss-ultils/mixin';
@import '../scss-ultils/variables';
.hero {
    .hero__wrapper {
        @include flex-row-center();
        column-gap: 3rem;
        .hero__right {
            .hero__title {
                color: $clr-primary-black;
                font-size: $font-size-xxxl;
                font-weight: 500;
                line-height: 6.6rem;

                max-width: 54rem;

                margin-bottom: $margin-xsmall;
                span {
                    color: $clr-primary-light-green;
                }
            }

            .hero__subticle {
                color: $clr-primary-gray;
                font-size: $font-size-l;
                font-weight: 500;
                line-height: 2.7rem;

                max-width: 54rem;

                margin-bottom: $margin-xmedium;
            }
        }
    }
}

@media (max-width: 768px) {
    .hero {
        .hero__wrapper {
            .hero__right {
                .hero__title {
                    font-size: $font-size-xxl;
                    line-height: 4rem;
                }

                .hero__subticle {
                    margin-bottom: $margin-regular;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .hero {
        margin-top: $margin-medium;
        .hero__wrapper {
            .hero__right {
                .hero__title {
                    font-size: 3.6rem;
                    line-height: 3.6rem;
                    width: 28.5rem;

                    margin-bottom: $margin-xxsmall;
                }

                .hero__subticle {
                    margin-bottom: 1.1rem;

                    width: 28.5rem;
                }
            }
        }
    }
}

@media (max-width: 320px) {
    .hero {
        margin-top: $margin-xmedium;
        .hero__wrapper {
            .hero__left {
                display: none;
            }
        }
    }
}