@import '../scss-ultils/mixin';
@import '../scss-ultils/variables';
.info {
    margin-top: $margin-xxmedium;
    .info__wrapper {
        display: grid;
        grid-template-columns: 36.1rem 1fr;
        grid-gap: 3rem;
        align-items: center;
        .info__left {
            height: 44rem;
        }

        .info__right {
            h2 {
                color: $clr-primary-black;
                font-size: $font-size-xxl;
                font-weight: 500;
                line-height: 4.4rem;

                margin-bottom: $margin-xsmall;
            }

            p {
                color: $clr-primary-black;
                font-size: $font-size-l;
                font-weight: 500;
                line-height: 2.7rem;

                margin-bottom: $margin-xsmall;
            }

            .info__flex {
                display: flex;
                column-gap: 3rem;
            }
        }
    }
}
@media (max-width: 768px) {
    .info {
        .info__wrapper {
            grid-template-columns: 1fr;
            .info__right {
                h2 {
                    font-size: 3rem;
                    line-height: 3.3rem;

                    margin-bottom: $margin-small;
                }
                p {
                    margin-bottom: $margin-small;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .info {
        margin-top: $margin-medium;
        .info__wrapper {
            .info__right {
                h2 {
                    font-size: $font-size-xl;
                    line-height: 2.64rem;

                    margin-bottom: $margin-xsmall;
                }

                p {
                    font-size: $font-size-m;
                    line-height: 2.24rem;

                    margin-bottom: $margin-xsmall;
                }
            }
        }
    }
}

@media (max-width: 320px) {
    .info {
        margin-top: $margin-xmedium;
        .info__wrapper {
            .info__left {
                height: 29rem;
            }
        }
    }
}